<html style="padding:0;margin:0" id="root">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style type="text/css">
		  body {font-family: "STHeiti"; font-weight: 100; margin-left: 0.714rem; margin-top: 0; margin-right: 0.714rem; margin-bottom: 0;}
		  p {font-size: 0.8095rem; line-height: 1.19rem; margin-left: 0; margin-top: 0; margin-right: 0; margin-bottom: 0.476rem; color: #262626}
		  span {font-size: 0.8095rem; line-height: 1.19rem}
		  img { margin-left: 0; margin-top: 0.286rem; margin-right: 0px; margin-bottom: 0.286rem}
		</style>
		<script type="text/javascript">
			var size = document.documentElement.clientWidth * 0.065625
			console.log(size)
			document.getElementById('root').style.fontSize = size
		</script>
	</head>
	<body style="letter-spacing:0">
	  <div id="head" style="padding:0; margin-top: 0.714rem; font-weight:bold; font-size: 1rem; color:#1a1a1a; line-height:1">
	  	  <%=@content.title%>
	  </div>
	  <div id="subhead" style="margin-top:0.238rem; color:#bababa; font-weight:bold; font-size:0.476rem; line-height:1">
	  	作者 <%=@content.user.display_name%>
	  </div>
	  <div id="subhead2" style="margin-top:0.238rem; color:#bababa; font-weight:bold; font-size:0.476rem; line-height:1">
	  	日期 <%=@content.created_at.to_date%>
	  </div>
	  <div id="content" style="margin-top:0.952rem;">
	  	<%=raw @content.body_html%>
	  </div>
	</body>
</html>