<h1> edit Article </h1>

<%= render 'form' %>

<%= link_to 'Back', article_path(@article) %>

<hr/>

<div id="container">
  <div class="editable">
    <%=raw @article.body_html %>
  </div>
</div>



<script>
    var editor = new MediumEditor('.editable', {
        elementsContainer: document.getElementById('container'),
        buttonLabels: 'fontawesome',
        buttons:['bold', 'italic', 'underline', 'anchor', 'header1', 'header2', 'quote', 'image']
    });

    $(function () {
        $('.editable').mediumInsert({
            editor: editor,
            addons: {
                images: {
                    imagesDeleteScript: '/article_body_image/delete',
                    imagesUploadScript: '/articles/<%= @article.id %>/article_body_images'
                }
            }
        });
    });

    $(".submit_button").click(function() {
        var allContents = editor.serialize();
        var elContent = allContents["element-0"].value;
        $("#article_body_html").val(elContent);
    });

</script>
