<h1> new Article </h1>

<%= render 'form' %>


<%= link_to 'Back', articles_path %>

<hr/>

<div id="medium-editor">
  <div class="editable"></div>
</div>


<script>
    var editor = new MediumEditor('.editable',{
        elementsContainer: document.getElementById("medium-editor"),
        checkLinkFormat:true,
        cleanPastedHTML: true
    });

</script>
