<h1> time line item</h1>

<p>
  <strong>id: </strong>
  <%= @time_line_item.id %>
</p>

<p>
  <strong> Title: </strong>
  <%= @time_line_item.title %>

  <p>
    <strong> Subtitle: </strong>
    <%= @time_line_item.subtitle %>
  </p>
</p>