<h1> Publisher </h1>

<p>
  <strong>id: </strong>
  <%= @publisher.id %>
</p>

  <strong>name: </strong>
  <%= @publisher.name %>
</p>

<%= link_to 'Back', publishers_path %>
<%= link_to 'Edit', edit_publisher_path(@publisher) %>

