<p>
  <strong>Title:</strong>
  <%= photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= photo.description %>
</p>

<p>
  <strong>Photographer:</strong>
  <%= photo.photographer %>
</p>

<p>
  <%= image_tag photo.image.url(:thumb) %>
</p>

