<li class="media">
  <a class="pull-left" href="#">
    <%= image_tag photo.image.url(:thumb), class: 'media-object' %>

  </a>
  <div class="media-body">
      <h4 class="media-heading">
        <%= photo.title %>
      </h4>
    photographer: <%= photo.photographer %> <br/>

    <%= photo.description %>
  </div>

</li>



